name: azure

on:
  push:
    branches:
      - main
      - azure

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: corepack enable
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: pnpm
      - run: pnpm install
      - run: pnpm build
        env:
          NITRO_PRESET: azure-functions
      - name: "Deploy to Azure Functions"
        uses: Azure/functions-action@v1
        with:
          app-name: nitro-deployment
          package: .output/deploy.zip
          publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
      - name: Test deployed site
        run: pnpm test
        env:
          DEPLOYMENT_URL: https://nitro-deployment.azurewebsites.net/
