name: e2e

on:
  workflow_dispatch:
    inputs:
      url:
        required: false
        description: The URL to run the test suite against. If omitted, it runs against all.
        type: string
  deployment_status:

jobs:
  test_url:
    name: Test ${{ github.event.inputs.url || github.event.deployment_status.target_url || 'deployed sites' }}
    if: github.event.deployment_status.state == 'success' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: yarn install
      - run: yarn test
        env:
          DEPLOYMENT_URL: ${{ github.event.inputs.url || github.event.deployment_status.target_url }}
